.InfoBox{
    text-align: center;
    background-color: rgb(221, 54, 17);
}
.cardContainer,.cardContent{
    display: flex;
    justify-content: center;
    
    
}
.css-1lt5qva-MuiCardContent-root {
    padding: 16px;
    background-color: #70cfe2;
    font-family: cursive;
    font-style: italic;
    
}

